body{
    margin: 0;
    padding: 0;   
}
.outbox{
    width: 100%;
    height: 100%;
    -webkit-user-select: none; 
}
header{
//  width: 100%;
    height: 787px;
    background-color: #75b42b;
//  overflow: hidden;
}
nav{
    width: 1169px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    .logo{
        float: left;
    }
    a{
        text-decoration: none;
        color: #fff;
        float: right;
        font-size: 18px;
        margin-left: 30px;
        border-top: 3px solid #75B42B;
    }
    & a:hover{
        border-top-color: #fff;
    }
}
.header-bg{
    height: 595px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../img/1-header/iPhone.png);
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        transform: translateY(50px);
        font-size: 90px;
        color: #fff;
    }
}
.header-text{
    width: 590px;
    height: 100px;
//  border: 1px solid #000;
    margin: 150px auto;
    color: #fff;
    font-size: 30px;
}
/*左右小图标*/
.left,.right{
    width: 257px;
    height: 77px;
    border: 2px solid #fff;
    border-radius: 5%;
    float: left;
    margin-left: 30px;
    text-indent: 75px;
    line-height: 77px;
    background-repeat: no-repeat;
    background-position: 30px center;
}
.left{
    background-image: url(../img/1-header/Icon-AppStore.png);
}
.right{
    background-image: url(../img/1-header/icon-PlayStore.png);   
}
.slide{
    width: 90px;
    height: 12px;
    transform: translateY(40px);
    margin: 0 auto;
    i{
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-left: 5px;
    }
    i:first-child{
        background-color: #fff;
    }
}
.function{
    height: 695px;
    background-color: #fff;
    h1{
        transform: translateY(100px);
        text-align: center;
        font-size: 48px;
        color: #3a3a3a;
    }
    .function-text{
        transform: translateY(130px);
        width: 1028px;
        height: 350px;
//      border: 1px solid #ddd;
        margin: 0 auto;
        line-height: 20px;
        & div{
            width: 249px;
            height: 390px;
//          border: 1px solid #ddd;
            float: left;
            margin-left: 70px;
            text-align: center;
            & span{
                display: block;
                margin-top: -5px;
                transform: translateY(25px);
            }
        }
    }
}
/*简介部分*/
.intro{
    transform: translateY(200px);
    margin-top: 200px;
    clear: both;
    height: 1537px;
    background-image: url(../img/2-简介部分/images/photo-share_02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
/*详情*/
.particulars{
    padding-top: 200px;
    height: 100px;
    background-color: #fff;
    position: relative;
    .particulars-text{
        height: 200px;
        background-color: #fff;
        .h{
            font-size: 48px;
            color: #82c830;
            margin-top: 40px;
        }
        & span{
            display: block;
            color: #666;
            font-size: 18px;
            margin-left: 200px;
        }
    }
    .particulars-text~div{
        width: 340px;
        height: 422px;
        float: left;
        margin-top: 60px;
        overflow: hidden;
        transform-origin: bottom;
        & img{
            height: 422px;
        }
    }
//  .hovers:hover{
//      transform: scaleY(1.1);
//  }
    .particulars-one-text{
        width: 340px;
        height: 60px;
        background-color: #000;
        position: absolute;
        top: 840px;
    }
    .sections{
        width: 340px;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        color: #c2c2c2;
        background-color: #151515;
        background-image: url(../img/3-详情部分/Heart2.png);
        background-repeat: no-repeat;
        background-position: 250px center;
        position: absolute;
        top: 840px;
    }
}
.particulars-two{
    height: 723px;
    background-color: #eee;
    position: relative;
    margin-top: 600px;
}